body{
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border:5px solid darkslateblue;
    min-width: 400px
}

input{
    width: 100%;
    border: solid 2px darkslateblue;
    padding: 10px;
    
    border-radius: 3px;
    font-weight: bold;
    box-sizing: border-box;
    
}

button{
    background-color: darkslateblue;
    color: whitesmoke;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid darkslateblue;
    font-weight: bold;
    margin-top: 5px;
    

}

#delete{
    color: darkslateblue;
    background-color: whitesmoke;
    
}

ul{
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
}

li{
    margin-top: 10px;
    color: royalblue;
    font-weight: bold;
}

li a{    
    color: royalblue;
}